.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Additional folders
bin/
obj/
# General CodeKit files to ignore
config.codekit
config.codekit3
/min
CDN.API/obj/Debug/net8.0/
CDN.Application/obj/Debug/net8.0/
CDN.Domain/obj/Debug/net8.0/
CDN.Infrastructure/obj/Debug/net8.0/
CDN.API/bin/Debug/net8.0/
CDN.Application/bin/Debug/net8.0/
CDN.Domain/bin/Debug/net8.0/
CDN.Infrastructure/bin/Debug/net8.0/
CDN.API/bin/Debug/net8.0/CDN.API.dll
CDN.API/bin/Debug/net8.0/CDN.API.exe
CDN.API/bin/Debug/net8.0/CDN.API.pdb
CDN.API/bin/Debug/net8.0/CDN.Application.dll
CDN.API/bin/Debug/net8.0/CDN.Application.pdb
CDN.API/bin/Debug/net8.0/CDN.Domain.dll
CDN.API/bin/Debug/net8.0/CDN.Domain.pdb
CDN.API/bin/Debug/net8.0/CDN.Infrastructure.dll
CDN.API/bin/Debug/net8.0/CDN.Infrastructure.pdb
CDN.API/obj/CDN.API.csproj.nuget.dgspec.json
CDN.API/obj/project.assets.json
CDN.API/obj/project.nuget.cache
CDN.API/obj/Debug/net8.0/apphost.exe
CDN.API/obj/Debug/net8.0/CDN.API.AssemblyInfo.cs
CDN.API/obj/Debug/net8.0/CDN.API.AssemblyInfoInputs.cache
CDN.API/obj/Debug/net8.0/CDN.API.csproj.AssemblyReference.cache
CDN.API/obj/Debug/net8.0/CDN.API.csproj.CoreCompileInputs.cache
CDN.API/obj/Debug/net8.0/CDN.API.csproj.FileListAbsolute.txt
CDN.API/obj/Debug/net8.0/CDN.API.dll
CDN.API/obj/Debug/net8.0/CDN.API.genruntimeconfig.cache
CDN.API/obj/Debug/net8.0/CDN.API.pdb
CDN.API/obj/Debug/net8.0/CDN.API.sourcelink.json
CDN.API/obj/Debug/net8.0/ref/CDN.API.dll
CDN.API/obj/Debug/net8.0/refint/CDN.API.dll
CDN.Application/bin/Debug/net8.0/CDN.Application.dll
CDN.Application/bin/Debug/net8.0/CDN.Application.pdb
CDN.Application/bin/Debug/net8.0/CDN.Domain.dll
CDN.Application/bin/Debug/net8.0/CDN.Domain.pdb
CDN.Application/bin/Debug/net8.0/CDN.Infrastructure.dll
CDN.Application/bin/Debug/net8.0/CDN.Infrastructure.pdb
CDN.Application/obj/CDN.Application.csproj.nuget.dgspec.json
CDN.Application/obj/project.assets.json
CDN.Application/obj/project.nuget.cache
CDN.Application/obj/Debug/net8.0/CDN.Application.AssemblyInfo.cs
CDN.Application/obj/Debug/net8.0/CDN.Application.AssemblyInfoInputs.cache
CDN.Application/obj/Debug/net8.0/CDN.Application.csproj.AssemblyReference.cache
CDN.Application/obj/Debug/net8.0/CDN.Application.csproj.CoreCompileInputs.cache
CDN.Application/obj/Debug/net8.0/CDN.Application.csproj.FileListAbsolute.txt
CDN.Application/obj/Debug/net8.0/CDN.Application.dll
CDN.Application/obj/Debug/net8.0/CDN.Application.pdb
CDN.Application/obj/Debug/net8.0/ref/CDN.Application.dll
CDN.Application/obj/Debug/net8.0/refint/CDN.Application.dll
CDN.Domain/bin/Debug/net8.0/CDN.Domain.dll
CDN.Domain/bin/Debug/net8.0/CDN.Domain.pdb
CDN.Domain/obj/CDN.Domain.csproj.nuget.dgspec.json
CDN.Domain/obj/project.assets.json
CDN.Domain/obj/project.nuget.cache
CDN.Domain/obj/Debug/net8.0/CDN.Domain.AssemblyInfo.cs
CDN.Domain/obj/Debug/net8.0/CDN.Domain.AssemblyInfoInputs.cache
CDN.Domain/obj/Debug/net8.0/CDN.Domain.csproj.CoreCompileInputs.cache
CDN.Domain/obj/Debug/net8.0/CDN.Domain.csproj.FileListAbsolute.txt
CDN.Domain/obj/Debug/net8.0/CDN.Domain.dll
CDN.Domain/obj/Debug/net8.0/CDN.Domain.pdb
CDN.Domain/obj/Debug/net8.0/ref/CDN.Domain.dll
CDN.Domain/obj/Debug/net8.0/refint/CDN.Domain.dll
CDN.Infrastructure/bin/Debug/net8.0/CDN.Domain.dll
CDN.Infrastructure/bin/Debug/net8.0/CDN.Domain.pdb
CDN.Infrastructure/bin/Debug/net8.0/CDN.Infrastructure.dll
CDN.Infrastructure/bin/Debug/net8.0/CDN.Infrastructure.pdb
CDN.Infrastructure/obj/CDN.Infrastructure.csproj.nuget.dgspec.json
CDN.Infrastructure/obj/project.assets.json
CDN.Infrastructure/obj/project.nuget.cache
CDN.Infrastructure/obj/Debug/net8.0/CDN.Infrastructure.AssemblyInfo.cs
CDN.Infrastructure/obj/Debug/net8.0/CDN.Infrastructure.AssemblyInfoInputs.cache
CDN.Infrastructure/obj/Debug/net8.0/CDN.Infrastructure.csproj.AssemblyReference.cache
CDN.Infrastructure/obj/Debug/net8.0/CDN.Infrastructure.csproj.CoreCompileInputs.cache
CDN.Infrastructure/obj/Debug/net8.0/CDN.Infrastructure.csproj.FileListAbsolute.txt
CDN.Infrastructure/obj/Debug/net8.0/CDN.Infrastructure.dll
CDN.Infrastructure/obj/Debug/net8.0/CDN.Infrastructure.pdb
CDN.Infrastructure/obj/Debug/net8.0/ref/CDN.Infrastructure.dll
CDN.Infrastructure/obj/Debug/net8.0/refint/CDN.Infrastructure.dll
